<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Your new post "<%= @post.title %>"</h1>
     <p>
       <%= @post.body %>
     </p>
     <p>
       You will automatically get updates whenever someone comments on your new post. If you would like to stop receiving the email notifications, simply go to your post and click "Unfavorite"
     </p>
     <p>
       <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
