.social-btn {
  border: solid;
  border-color: black;
  padding: 15 15 15 15;
  width: 200px;
  height: 50px;
  color: red;
  text-align: center;
  font-color: white;
}
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
